<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8"/>
<title>User Management - Poseidon</title>
<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div th:replace="~{fragments/navbar :: navbar}"></div>
	<div class="row"><h2>User List</h2></div>
	<div class="row">
		<a href="/admin/user/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Full Name</th>
					<th>User Name</th>
					<th>Role</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users.content}">
					<td style="width: 10%" th:text="${user.id}"></td>
					<td th:text="${user.fullname}"></td>
					<td th:text="${user.username}"></td>
					<td style="width: 25%" th:text="${user.role}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/admin/user/update/{id}(id=${user.id})}">Edit</a>&nbsp;|&nbsp;
						<form th:action="@{/admin/user/delete/{id}(id=${user.id})}" method="post" style="display:inline;">
							<button type="submit" class="btn btn-link p-0">Delete</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<nav th:if="${users.totalPages > 1}">
			<ul class="pagination">
				<li class="page-item" th:classappend="${!users.hasPrevious()} ? 'disabled'">
					<a class="page-link" th:href="@{/admin/user/list(page=${users.number - 1})}">Précédent</a>
				</li>
				<li class="page-item" th:each="i : ${#numbers.sequence(0, users.totalPages - 1)}"
					th:classappend="${i == users.number} ? 'active'">
					<a class="page-link" th:href="@{/admin/user/list(page=${i})}" th:text="${i + 1}"></a>
				</li>
				<li class="page-item" th:classappend="${!users.hasNext()} ? 'disabled'">
					<a class="page-link" th:href="@{/admin/user/list(page=${users.number + 1})}">Suivant</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
</body>
</html>