<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
	<a class="navbar-brand" href="/">Poseidon Capital</a>
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="/bidList/list">Bid List</a></li>
			<li class="nav-item"><a class="nav-link" href="/curvePoint/list">Curve Points</a></li>
			<li class="nav-item"><a class="nav-link" href="/rating/list">Ratings</a></li>
			<li class="nav-item"><a class="nav-link" href="/trade/list">Trade</a></li>
			<li class="nav-item"><a class="nav-link" href="/ruleName/list">Rules</a></li>
			<li class="nav-item" sec:authorize="hasRole('ADMIN')">
				<a class="nav-link" href="/admin/user/list">User Management</a>
			</li>
		</ul>
		<div class="navbar-nav ml-auto d-flex align-items-center">
			<span class="navbar-text mr-3">
				<b sec:authentication="name"></b>
			</span>
			<form th:action="@{/app-logout}" method="POST" class="form-inline">
				<button type="submit" class="btn btn-outline-light btn-sm">Logout</button>
			</form>
		</div>
	</div>
</nav>
</body>
</html>
