<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<title>Poseidon Capital Solutions</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="row mt-4">
		<div class="col-12">
			<h2>Welcome to Poseidon Capital Solutions</h2>
			<p>Select a section from the navigation bar above to get started.</p>
		</div>
	</div>
</div>
</body>
</html>