<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8"/>
<title>Bid List - Poseidon</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div th:replace="~{fragments/navbar :: navbar}"></div>
	<div class="row"><h2>Bid List</h2></div>
	<div class="row">
		<a href="/bidList/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Account</th>
					<th>Type</th>
					<th>Bid Quantity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bidList : ${bidLists.content}">
					<td style="width: 10%" th:text="${bidList.bidListId}"></td>
					<td th:text="${bidList.account}"></td>
					<td th:text="${bidList.type}"></td>
					<td th:text="${bidList.bidQuantity}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/bidList/update/{id}(id=${bidList.bidListId})}">Edit</a>&nbsp;|&nbsp;
						<form th:action="@{/bidList/delete/{id}(id=${bidList.bidListId})}" method="post" style="display:inline;">
							<button type="submit" class="btn btn-link p-0">Delete</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<nav th:if="${bidLists.totalPages > 1}">
			<ul class="pagination">
				<li class="page-item" th:classappend="${!bidLists.hasPrevious()} ? 'disabled'">
					<a class="page-link" th:href="@{/bidList/list(page=${bidLists.number - 1})}">Précédent</a>
				</li>
				<li class="page-item" th:each="i : ${#numbers.sequence(0, bidLists.totalPages - 1)}"
					th:classappend="${i == bidLists.number} ? 'active'">
					<a class="page-link" th:href="@{/bidList/list(page=${i})}" th:text="${i + 1}"></a>
				</li>
				<li class="page-item" th:classappend="${!bidLists.hasNext()} ? 'disabled'">
					<a class="page-link" th:href="@{/bidList/list(page=${bidLists.number + 1})}">Suivant</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
</body>
</html>